/*
 CSS3 style sheet inspired by the good work of
 http://fletcher.github.io/MultiMarkdown-5/
 https://github.com/waiting-for-dev/gutenweb/
*/


// VARIABLES
// ---------

// Font
$main-font-size: 12pt;
@import url('https://fonts.googleapis.com/css?family=Roboto');
$main-font: 'Roboto', sans-serif;
%emphasized{ font-weight: bold; }
%weaklyemphasized{ font-weight: italic; }

// Color
$main-background-color: #f9f9f9;
$nav-color: darken($main-background-color, 4%);
$footer-color: $nav-color;
$main-font-color: #333333;
$logo-color: #40CC1A;
$mark-color: rbga($logo-color, .7);

$table-cell-color: #f1f1f1;
$table-head-color: darken($table-cell-color, 4%);
$table-border-color: lighten($main-font-color, 0%);
$table-head-border-color: lighten($table-border-color, 0%);
$subtable-color: lighten($main-background-color, 10%);
$subtable-border-color: lighten($table-border-color, 10%);

$link-color: darken($logo-color, 10%);
$link-color-hover: $logo-color;
$link-color-visited: darken($link-color, 20%);

// Sizes and margins
$content-width: 35em;
$content-padding: 3em;
$table-padding: 0.5em;
$list-padding: 3 * $table-padding;
$nav-height: 4.5em;

$main-line-height: 1.7 * $main-font-size;
$paragraph-margin: 0.66 * $main-line-height;
$item-margin-vert: 0.3 * $paragraph-margin;
%main-margin-top{ margin-top:$paragraph-margin; }
%small-margin{ margin-top:$item-margin-vert; }

$main-border-width: 1pt;
$table-border-width: 1.5pt;
$table-head-border-width: 0.5*$table-border-width;
$parindent: 2em;
%bottom-border{	border-width: 1px 0 0 0; }


// GENERAL
// -------
@charset "UTF-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0em;
	padding: 0em;
	border: 0em;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

body {
	background-color: $main-background-color;

	color: $main-font-color;
	font-size:$main-font-size;
	font-family:$main-font;
	
	line-height:$main-line-height;
	text-align:left;
	
	/* typographic details */
	word-spacing:normal;
	hyphens:auto;
	orphans:2;
	widows:2;
	font-variant-numeric:oldstyle-nums;
}

// Content box
html, body {
	height: 100%;
}

.content, content, footer {
	margin-left: auto;
	margin-right: auto;
	padding-left: $content-padding;
	padding-right: $content-padding;
}

.content, content {
	max-width: $content-width + $content-padding;
	min-height: 85%; // At least window size
	
	margin-bottom: 20%;	
	padding-bottom: $paragraph-margin;

	/*
    // If it should have a border, uncomment:
	border-style: outset;
	border-width: 1pt;
	border-color: gray;
   */
	overflow: hidden;
}

// Welcome message box
.welcome {
	text-align: center;
	font-size: 150%;
	line-height: 150%;
	padding-top: 3 * $paragraph-margin;
	padding-bottom: 3 * $paragraph-margin;
}


// Footer
footer {
	width: auto;
	padding-top: 1em;
	overflow: visible;
	background-color: $footer-color;
	text-align: center;
	min-height: 20%;
}

/* TODO input, textarea, select {} */


// Lists
li {
	margin-bottom: 0.5em;
}

ol, ul {
	list-style:none;
	margin-left: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.75em;
	padding-left: $list-padding;

	ol, ul {
		@extend %small-margin;
		margin-bottom: $item-margin-vert;
    }
}


ul {
	li {
		list-style-type: disc;
	}
	ul {
		li {
			list-style-type: square;
		}
		ul li {
			list-style-type: square;
		}
	}
}

ol li {
	list-style-type: decimal;
}

dl {
	@extend %main-margin-top;
	margin-left: $parindent;

	dd {
		margin-left: $parindent;
	}
	dt {
		@extend %small-margin;
		margin-top: $item-margin-vert;
		@extend %emphasized;
/* 
	   // For LaTeX-like description lists
	   float:left;		 
	   margin-right:1em;	
	   text-indent:-1em;	
*/
	}
}

// Table of contents, Navigation bar

.tableofcontents, .TOC, nav {
	a {
		&:link, &:visited {
			text-decoration: none;
			color: inherit;
		}
		&:hover {
			text-decoration: underline;
		}
	}

	li {
		list-style-type: none;
		font-weight: bold;
	}

	ul ul ul {
		margin-top: 0em;
		margin-bottom: 0em;
		list-style-position: outside;
		padding-left: 1em;

		li {
			font-weight: normal;
		}
	}
}

.tableofcontents, .TOC{
	font-weight: normal;
	/*	width: 60%;*/
	border-style: ridge;
    border-width: 3pt;
	padding: 0em 2em 0em 2em;
	display: inline-block;
	margin: 2em 0em 1em 0em;
}

nav {
	padding: 1em;
	border-bottom: 2pt solid $logo-color;

	ul ul li {
		list-style-type: none;
	}
}


// Quotes
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}

// Captions
caption {
	font-style:italic;
	text-align:center;
}

// Tables
table {
	/* border stuff */
	border: solid $table-border-color;
	border-width: $table-border-width 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	empty-cells: hide;
	
	padding: $table-padding;
	margin: 2em auto;

	tr {
		page-break-before:avoid;
		page-break-after:avoid;
	}
	tr:nth-child(odd) {
		background-color: $table-cell-color;
	}
	td, th {
		display: table-cell;
		vertical-align: inherit;
		padding: 0.4em 0.8em;
	}
	
	// Spanned cells: center text in merged cells
	td[colspan] {
		text-align: center;
	}
	td[rowspan] {
		vertical-align: middle;
	}

	// Special components:
	th {
		@extend %emphasized;
		border: solid $table-head-border-color;
		border-width: $table-head-border-width;
		padding: 0.4em;
		background-color: $table-head-color;
	}
	// Table head and body borders
	thead > tr:last-child > th { border-style: none; } // th has the border!
	tbody > tr:first-child > td, tbody > tr:first-child > th {
		border-top: $table-head-border-width solid $table-head-border-color;
	}
	tfoot td {
		@extend %weaklyemphasized;
	}
	caption {
		margin: 5px;
		text-align: center;
		caption-side: bottom;
	}
	
	// Subtables
	table {
		margin: 1em 0;
		width: auto;
		th, td {
			background-color: $subtable-color;
			border: 1px solid $subtable-border-color;
			padding: 0.2em 0.5em;
			width: auto;
		}
	}
}


// Paragraph spacing
p+p {
	@extend %main-margin-top;
}

// Headings
h1,h2,h3,h4,h5,h6 {
	page-break-after: avoid;
}
h1 {
	font-size: 2.25em;
	line-height: 1.33333em;
	margin-top: 1.5 * 0.66667em;
	margin-bottom: 0.66667em;
	text-align: center;
}
h2 {
	font-size: 1.5em;
	line-height: 1em;
	margin-top: 1.5 * 1em;
	margin-bottom: 1em;

	// Slight underline
	border-style: outset;
	border-width: 0pt 0pt 1pt 0pt;
}
h3 {
	font-size: 1.3125em;
	line-height: 1.14286em;
	margin-top: 1.5 * 1.14286em;
	margin-bottom: 1.14286em;
}
h4 {
	font-size: 1.125em;
	line-height: 1.33333em;
	margin-top: 1.5 * 1.33333em;
	margin-bottom: 1.33333em;
}

// Images
img {
	vertical-align: bottom;
}
figure {
	text-align: center;
	img,figure audio,figure canvas,figure video,figure table {
		margin-top:0;
		margin-bottom:0;
	}
	figcaption {
		font-size: 0.875em;
		line-height: 1.71429em;
		margin-top: 0.2em;
		margin-bottom: 1.71429em;
		@extend %weaklyemphasized;
	}
}
// Custom logo class enhancements
.logo {
	margin: 0pt;
	max-height: $nav-height;
}


// Other
address,article,aside,audio,canvas,footer,header,ol,ul,dl,pre,section,table,video,img,figure {
	@extend %main-margin-top;
	margin-bottom:$paragraph-margin;
}

blockquote {
	margin: 2 * $paragraph-margin;
	p {
		margin-top: 0em;
		margin-bottom:0em;
		text-indent: 1em;
	}
}

mark {
	background: $mark-color;
}

// Links
a {
	&:link, &:active {
		color: $link-color;
		text-decoration: none;
	}
	&:visited {
		color: $link-color-visited;
	}
	&:hover {
		color: $link-color-hover;
		text-decoration: underline;
	}
}


/* TODO */

code, .code, samp, kbd, var {
	font-family: Consolas,"Liberation Mono",Courier,monospace;
	font-size: 0.875em;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	
	line-height: 0.875em;
	padding: 0em 0.3em;
	box-shadow: 0em 0em 0.1em 0.1em $table-border-color;
	background-color: $subtable-color;
}

em {
	font-style:italic;
}

strong {
	font-weight: bold;
}

abbr {
	letter-spacing:0.1em;
}

abbr[title] {
	border-bottom:1px dotted #000;
}

cite,q {
	font-style:italic;
}

q {
	font-style:italic;
	quotes:"“" "”" "‘" "’";
}

q:before {
	content:open-quote;
}

q:after {
	content:close-quote;
}

dfn {
	font-style:italic;
}

sup,sub {
	font-size:70%;
	line-height:70%;
	position:relative;
}

sup {
	top:-0.5em;
}

sub {
	top:0.5em;
}

hr {
	border-bottom:0.0625em solid #000;
	border-top:0 none;
	border-left:0 none;
	border-right:0 none;
	margin-top:1.4375em;
	margin-bottom:1.5em;
}

small {
	font-size:0.875em;
	line-height:1.71429em;
	margin-top:1.71429em;
	margin-bottom:1.71429em;
}

i {
	font-style:italic;
}

b {
	font-weight: bold;
}

u {
	text-decoration:underline;
}

s {
	text-decoration:line-through;
}

ins {
	font-weight: bold;
	text-decoration:underline;
}

del {
	text-decoration:line-through;
}

.caps,.nums {
	letter-spacing:0.1em;
}

.caps {
	font-variant-numeric:lining-nums;
}

.code {
	overflow:auto;
	padding:0 1em;
	background-color:#f8f8f8;
	box-shadow:0 0 0.1em 0.1em #ddd;
}

.code code,.code samp,.code kbd,.code var {
	box-shadow:none;
	padding:0;
}

.chapter {
	page-break-after:auto;
	page-break-before:always;
}

.note {
	text-indent:0;
	font-size:0.875em;
	line-height:1.71429em;
	margin-top:1.71429em;
	margin-bottom:1.71429em;
}

.verse {
	font-family:inherit;
	display:table;
	width:auto;
	margin-left:auto;
	margin-right:auto;
}

.toc {
	margin:0 auto;
}

.toc td,.toc th {
	outline:0 none;
}

.toc th {
	padding:0 0.5em 0 0;
	text-align:right;
	font-weight:normal;
}

.toc td:before {
	content:"\2022";
	padding-right:0.5em;
}

.toc td {
	padding:0;
	text-align:left;
	font-style:italic;
}

@page {
	margin-top:72pt;
	margin-bottom:72pt;
}

@media print {
	body {
		font-size:12pt;
		line-height:18pt;
		margin-top:0pt;
		margin-bottom:0pt;
		/*font-family:"Times New Roman",Times,serif;*/
		border-style: none;
	}

	p {
		margin-top:18pt;
		margin-bottom:0pt;
	}

	p+p {
		margin-top: 1em;
	}

	address,article,aside,audio,canvas,footer,header,ol,ul,dl,pre,section,table,video,img,figure {
		margin-top:18pt;
		margin-bottom:18pt;
	}

	h1 {
		font-size:21pt;
		line-height:36pt;
		margin-top:18pt;
		margin-bottom:18pt;
	}

	h2 {
		font-size:18pt;
		line-height:18pt;
		margin-top:18pt;
		margin-bottom:18pt;
	}

	h3 {
		font-size:16pt;
		line-height:18pt;
		margin-top:18pt;
		margin-bottom:18pt;
	}

	h4 {
		font-size:14pt;
		line-height:18pt;
		margin-top:18pt;
		margin-bottom:18pt;
	}

	dt {
		margin-right:18pt;
	}


	blockquote {
		margin-top:27pt;
		margin-bottom:27pt;
		margin-left:27pt;
		margin-right:27pt;
	}

	blockquote p {
		margin-top:0em;
		margin-bottom:0em;
		text-indent:0;
	}

	figcaption {
		font-size:10pt;
		line-height:18pt;
		margin-top:0pt;
		margin-bottom:18pt;
	}

	pre {
		white-space:pre-line;
	}

	abbr[title] {
		border-bottom:0 none;
	}

	small {
		font-size:10pt;
		line-height:18pt;
		margin-top:18pt;
		margin-bottom:18pt;
	}

	hr {
		border-bottom:0.08333em solid #000;
		margin-top:17pt;
		margin-bottom:18pt;
	}

	.note {
		font-size:10pt;
		line-height:18pt;
		margin-top:18pt;
		margin-bottom:18pt;
	}
	
}


@media (max-width: 999px) {
	.content, content {
		border-style: none;
	}
	
	nav {
		background-color: $nav-color;
	}
	nav::before {
		line-height: 4 * $main-line-height;
		font-size: $main-font-size;
		content: "Navigation";
	}
	nav>ul {
		margin-top:0px;
		display: none;
	}
	nav:hover>ul {
		display: block;
	}
	h1 {
		font-size: 1.75em;
	}
	.logo {
		display: none;
	}
}

@media (min-width: 999px){
	h1 {
		padding-top: $nav-height;
	}
	.welcome {
		margin-top: $nav-height;
		padding-bottom: 0em;
	}
	nav {
		text-align: center;
		overflow: hidden;
		background-color: white;
		position: fixed; /* Set the navbar to fixed position */
		top: 0; /* Position the navbar at the top of the page */
		width: 100%; /* Full width */
		max-height: $nav-height;
		min-height: 0.75*$nav-height;
	}
	
	nav ul {
		display: inline-block;
		margin: 0px;
		padding-left: 1em;
		padding-right: 1em;
	}
	nav>ul>li>ul {
		display: none;
		position: absolute;
		margin: 0px;
		padding: 0.75em;
		background-color: white;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		list-style-type: none;
		
	}		

	nav>ul>li:hover ul {
		display: block;
	}

	nav > ul > li {
		display: inline-block;
		padding: 0.25em 0.5em 0.25em 0.5em;
		margin: 0px 1em 0.5em 1em;
		border-bottom: $table-head-border-width;
		border-style: solid;
	}

	nav a {
		border: none;
		font-weight: bold;
	}

}



/* -------------------------- 
Source: https://github.com/fletcher/MultiMarkdown-6-Syntax-Guide/blob/master/css/markdown-reference.css
*/

/* Forms */

form {
	border-top: 1px solid #ccc;
	padding: 1em;
	margin-top: 1em;
}

/* Special */

#title {
	background-color: #a1adcb;
	border-bottom: 1px solid #b8bdc7;
	color: #444;
	padding: 10px 10px;
	text-shadow: 0px 1px 0px #cdd9fd;
}

.section-name {
	background: url('../images/arrow_down.gif') no-repeat center left;
	color: #525252;
	cursor: pointer;
	display: block;
	font-size: 1em;
	padding: 5px 10px 5px 16px;
	text-shadow: 0 1px 0 #fff;
	text-transform: uppercase;
}

.deselected {
	background-image: url('../images/arrow_right.gif');
}

.section {
	border-color: #b8bdc7;
	border-style: solid;
	border-width: 1px 0;
	background-color: white;
}
